@import 'src/styles.scss';

.autocomplete {
  position: relative;
}

._form-field {
  position: relative;
  margin: 0.5rem;
}

._rinput {
  box-sizing: border-box;
  border: 1px solid $primary;
  width: 100%;
  padding: 0.5rem;
}

._autocomplete_list {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  z-index: 1;
  border: 1px solid black;
}
